@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　コンセプト
  ==============================================================*/
  .concept {
    position: relative;
    padding: 0 20px 50px;
    margin-top: 50px;
  }

  .concept::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/section/section-about.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.16;
    z-index: -1;
  }

  .concept .section-title {
    position: relative;
    top: -15px;
  }

  .concept-lead {
    font-family: var(--font-serif);
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.18em;
  }


  /*==============================================================
    　　スタッフ
  ==============================================================*/
  .staff {
    padding: 60px 20px 75px;
  }

  .staff__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin-top: 30px;
  }

  .staff__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 40% 50%;
  }

  .staff-info__title {
    font-family: var(--font-serif);
    font-size: 25px;
    line-height: 1.2;
    margin-top: 5px;
  }

  .staff-info__item dt {
    font-family: var(--font-en);
    color: var(--color-text-sub);
    font-size: 13px;
    margin-top: 20px;
    line-height: 2;
    font-weight: 800;
  }

  .staff-info__item dd {
    font-family: var(--font-base);
    font-size: 13px;
    margin-top: 5px;
    line-height: 2;
    font-weight: 300;
    letter-spacing: 0.18em;
  }

  /*==============================================================
    　　サロン情報
  ==============================================================*/
  .info {
    position: relative;
    padding: 0 0 75px;
  }

  .info::before {
    content: "";
    position: absolute;
    height: 270px;
    inset: 0;
    background-color: #F6F6F6;
    z-index: -1;
  }

  .info .section-title {
    position: relative;
    top: -15px;
    padding: 0;
  }

  .info-inner {
    padding: 0 20px;
  }

  .info-box {
    font-family: var(--font-base);
    background-color: var(--color-bg-base);
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .info-item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(144, 114, 15, 0.2);
  }

  .info-item.end {
    border-bottom: none;
  }

  .info-box dt {
    font-size: 15px;
    color: var(--color-text-sub);
    letter-spacing: 0.2em;
    line-height: 2;
    font-weight: 500;
  }

  .info-box dd {
    font-size: 13px;
    letter-spacing: 0.18em;
    line-height: 2;
    font-weight: 300;
  }

  .map-inner {
    width: 100%;
    height: 345px;
    background-color: var(--color-bg-img);
    margin-top: 30px;
  }

}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　TB_コンセプト
  ==============================================================*/
  .concept {
    padding: 0 40px 85px;
    margin-top: 80px;
  }

  .concept-lead {
    font-size: 16px;
    margin-top: 40px;
  }

  /*==============================================================
    　　TB_スタッフ
  ==============================================================*/
  .staff {
    padding: 115px 0 135px;
    max-width: 345px;
    margin: 0 auto;
  }

  .staff__image {
    margin-top: 40px;
  }

  .staff-info__title {
    font-size: 28px;
  }

  /*==============================================================
    　　TB_サロン情報
  ==============================================================*/
  .info {
    padding: 0 0 165px;
  }

  .info::before {
    height: 395px;
  }

  .info-inner {
    padding: 0 40px;
    margin-top: 40px;
  }

  .info-box {
    padding: 15px 30px 15px 40px;
  }

  .info-item {
    padding: 25px;
    display: grid;
    grid-template-columns: 135px auto;
  }

  .info-box dt {
    font-size: 14px;
  }

  .map-inner {
    margin-top: 20px;
  }

}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_コンセプト
  ==============================================================*/
  .concept {
    margin-top: 100px;
    padding: 0 40px 115px;
  }

  .concept .section-title {
    top: -22px;
  }

  .concept-lead {
    text-align: center;
    font-size: 17.6px;
    line-height: 2.4;
    margin-top: 50px;
  }

  /*==============================================================
    　　PC_スタッフ
  ==============================================================*/
  .staff {
    max-width: 400px;
  }

  .staff__image {
    margin-top: 55px;
  }

  /*==============================================================
    　　PC_サロン情報
  ==============================================================*/
  .info {
    padding: 0 20px 165px;
  }

  .info .section-title {
    top: -22px;
  }

  .info-inner {
    background-color: var(--color-bg-base);
    max-width: 1300px;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .info-box {
    padding: 15px 30px 45px 40px;
    width: 100%;
  }

  .info-box dt {
    font-size: 13.5px;
  }

  .info-box dd {
    font-size: 12.5px;
  }

  .map {
    padding: 30px 40px 30px 30px;
  }

  .map-inner {
    height: 100%;
    margin-top: 0;
  }


}

@media screen and (min-width: 1400px) {
  /* PC全画面用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC-big_コンセプト
  ==============================================================*/
  

}