@charset "UTF-8";
/* CSS Document */

body {
  font-family: -apple-system, "Noto Sans JP", "Noto Serif JP", "Prata", sans-serif;
  font-feature-settings: 'palt' 1;
  color: var(--color-text-base);
  background-color: var(--color-bg-base);
  letter-spacing: 0.1em;
  line-height: 1.5;
}

body.is-menu-open {
  overflow: hidden;
  height: 100vh;
}

:root {
  /* 背景 */
  --color-bg-base: #fff;
  --color-bg-sub: #90720F;
  --color-bg-sub-rgb: 144, 114, 15;
  --color-bg-section: #ECE9E1;
  --color-bg-line: #3A3B3C;
  --color-bg-text: #FBF7E8;
  --color-bg-menu: #F6F6F6;
  --color-bg-footer: #D7D1BE;
  --color-bg-copy: #333333;
  --color-bg-img: #D9D9D9;



  /* テキスト */
  --color-text-base: #000000;
  --color-text-sub: #90720F;
  --color-text-white: #fff;

  /* 線 */
  --color-line-item: #90720F;
  --color-line-footer: #949495;

  /* フォント */
  --font-base: "Noto Sans JP", sans-serif;
  --font-serif: "Noto Serif JP", serif;
  --font-en: "Prata", serif;
}

html {
  scroll-behavior: smooth; /* スムーススクロール */
  scroll-margin-top: 60px;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  .sp-none,
  .tb-nav,
  .pc-only,
  .sp-tb-none,
  .pc-big-only {
    display: none;
  }

  /*==============================================================
    　　ヘッダー
  ==============================================================*/
  .site-nav--sp {
    position: relative;
    z-index: 100;
  }

  .header {
    width: 100vw;
    height: 40px;
    background-color: var(--color-bg-base);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 90;
  }

  /* ロゴ */
  .site-header__brand a {
    display: inline-block;
    width: 100%;
    align-items: center;
    padding: 20px 20px 10px 20px;
    background-color: var(--color-bg-base);
  }

  .site-header__brand-img {
    width: auto;
    height: 50px;
  }

  /* LINE */
  .header__line-link {
    position: fixed;
    top: 0;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: var(--color-bg-line);
    z-index: 90;
    display: grid;
    place-content: center;
  }
  .header__line-link img {
    width: 18px;
    height: 18px;
    opacity: 0.9;
  }

  /* ハンバーガー */
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-color: var(--color-bg-sub);
    outline: none;
    padding: 0;
    appearance: none;
    cursor: pointer;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    transition: all .5s;
  }

  .hamburger span {
    display: block;
    width: 14px;
    height: 1px;
    background: var(--color-bg-section);
    position: relative;
    opacity: 1;
    /* transition: all 0.1s; */
  }

  .hamburger span::after {
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    background: var(--color-bg-section);
    position: absolute;
    top: 5px;
    left: 0;
    transition: .3s;
  }

  .hamburger span::before {
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    background: var(--color-bg-section);
    position: absolute;
    top: -5px;
    left: 0;
    transition: .3s;
  }

  .hamburger.active span::after {
    width: 20px;
    height: 1px;
    top: 0;
    left: -2px;
    transform: rotate(45deg);
  }

  .hamburger.active span {
    background-color: var(--color-line-item);
  }

  .hamburger.active span::before {
    width: 20px;
    height: 1px;
    top: 0;
    left: -2px;
    transform: rotate(-45deg);
  }

  .hamburger.active {
    width: 50px;
    height: 50px;
  }

  /* メニューのデザイン*/
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88;
    background-color: var(--color-bg-sub);
    /* transition: .5s; */
    /* opacity: 0; */
    overflow: hidden;
    overflow-y: scroll;
    pointer-events: none;
    padding-bottom: env(safe-area-inset-bottom);
    /* visibility: hidden; */
    z-index: 98;
    transform: translateX(101%);
    transition: transform cubic-bezier(0.27, 0.22, 0, 1) 0.6s;
  }

  .container.active{
    /* opacity: 1; */
    pointer-events: auto;
    /* visibility: visible; */
    transform: translateX(0%);
  }

  /* ロゴ */
  .container__brand {
    padding: 20px;
    margin-bottom: -4px;
  }
  .container__brand-img {
    width: auto;
    height: 50px;
  }

  .site-nav--sp .nav-item {
    padding: 0 20px 26px;
    line-height: 1.2;
  }

  .site-nav--sp .nav-list a {
    display: inline-block;
    display: grid;
    grid-template-rows: auto auto;
    color: var(--color-text-white);
    opacity: 0.8;
  }

  .site-nav--sp .nav-title__en {
    font-family: var(--font-en);
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 0.12em;
  }

  .site-nav--sp .nav-title__ja {
    font-family: var(--font-serif);
    font-size: 9px;
  }

  .site-header__address {
    padding-top: 100px;
  }

  .site-header__address__text {
    font-family: var(--font-base);
    padding-left: 20px;
    font-size: 9px;
    color: var(--color-text-white);
    opacity: 0.8;
  }

  .site-header__address__tel {
    display: inline-block;
    font-family: var(--font-en);
    color: var(--color-text-white);
    font-size: 15px;
    line-height: 1.5;
    padding: 0 0 20px 20px;
    margin-top: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    column-gap: 4px;
    opacity: 0.8;
  }

  .site-header__address__tel img {
    width: auto;
    height: 16px;
  }

  /* sns */
  .site-header__sns-box {
    background-color: #69530B;
    padding: 6px 20px 10px;
  }

  .site-header__sns-box ul {
    display: flex;
    gap: 16px;
  }

  .site-header__sns-box a {
    display: inline-block;
    max-height: 19px;
    width: fit-content;
    opacity: 0.8;
  }

  .site-header__sns-box img {
    width: auto;
    height: 17px;
    margin-top: -4px;
  }

  /*==============================================================
    　　セクション共通
  ==============================================================*/
  .main-inner {
    overflow: hidden;
  }

  /* ボタン */
  .more-btn {
    display: inline-block;
    font-family: var(--font-en);
    font-size: 11px;
    line-height: 1.9;
    align-items: center;
    position: relative;
    padding-left: 23px;
  }

  .more-btn:before {
    width: 12px;
    border-top: 1px solid var(--color-line-item);
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  /* セクションタイトル */
  .section-title {
    text-align: center;
  }

  .section-title__en {
    font-family: var(--font-en);
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }

  .section-title__ja {
    font-family: var(--font-serif);
    font-size: 10px;
    margin-top: 4px;
  }

  /* 見出し・テキスト */
  .lead-title {
    font-family: var(--font-serif);
    color: var(--color-text-sub);
    font-size: 14px;
    padding-bottom: 15px;
    line-height: 1.8;
    letter-spacing: 0.2em;
  }

  .lead-text {
    font-family: var(--font-base);
    font-size: 12.5px;
    line-height: 2.1;
    font-weight: 300;
    letter-spacing: 0.2em;
  }


  /*==============================================================
    　　TOP以外__共通
  ==============================================================*/
  .top-other-header .site-header__brand a {
    padding: 4px 0 0 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  .top-other-header .site-header__brand-img {
    height: 36px;
  }

  /*==============================================================
    　　ページトップ
  ==============================================================*/
  .page-top__image {
    margin-top: 40px;
    width: 100vw;
    height: 190px;
    overflow: hidden;
    position: relative;
  }

  .page-top__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .page-title {
    position: absolute;
    top: 108px;
    left: 0;
    margin-left: 20px;
  }

  .page-title__en {
    font-family: var(--font-en);
    font-size: 37px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }

  .page-title__ja {
    font-family: var(--font-serif);
    font-size: 12px;
    line-height: 1.1;
    font-weight: 500;
  }


  /*==============　パンくずリスト　===============*/
  .breadcrumbs {
    /* color: var(--color-text-sub); */
    font-family: var(--font-base);
    font-size: 10px;
    background-color: #3A3B3C;
    width: fit-content;
    color: var(--color-text-white);
    position: relative;
    top: -18px;
  }

  .breadcrumbs ol {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 10px 15px;
    line-height: 1.46;
  }

  .breadcrumbs .item {
    letter-spacing: 0.25em;
    font-weight: 300;
  }

  .breadcrumbs .item span:before {
    content: "＞";
    display: inline-block;
    margin: 0 12px 0 8px;
    color: var(--color-line-item);
    font-weight: 200;
    color: var(--color-text-white);
    font-size: 8px;
  }

  .breadcrumb a {
    transition: .3s;
  }

  /*==============================================================
    　　CONTACT
  ==============================================================*/
  .contact {
    padding-bottom: 70px;
    position: relative;
  }

  .contact::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/section/section-contact-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
  }

  .contact .section-title {
    position: relative;
    top: -15px;
  }

  .contact-inner {
    background-color: var(--color-bg-base);
    width: calc(100% - 40px);
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
  }

  .contact-inner ul {
    display: grid;
    grid-template-rows: auto auto;
    border: 1px solid var(--color-line-item);
  }

  .contact-inner dl {
    padding: 35px 25px 30px;
  }

  .contact-tel-box {
    border-bottom: 1px solid var(--color-line-item);
  }

  .contact-title {
    font-family: var(--font-serif);
    color: var(--color-text-sub);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.2;
    text-align: center;
  }

  .item-tel {
    border: 1px solid var(--color-line-item);
    padding: 10px 5px 12px 0;
    font-family: var(--font-serif);
    color: var(--color-text-sub);
  }

  .contact-item a {
    display: inline-block;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  .item-tel svg {
    width: 23px !important;
    height: 24px !important;
    transform: rotate(20deg);
    margin-top: 2px;
  }

  .contact-tel__time {
    /* display: inline-block; */
    font-size: 9px;
    line-height: 1;
  }

  .contact-tel__num {
    /* display: inline-block; */
    font-size: 15px;
    margin-top: 8px;
    line-height: 1;
  }

  .item-line a {
    font-family: var(--font-serif);
    color: var(--color-text-white);
    font-size: 14px;
    background-color: var(--color-bg-sub);
    padding: 20px 5px 20px 0;
  }

  .item-line img {
    width: auto;
    height: 20px;
    margin-right: 8px;
  }

  /*==============================================================
    　　フッター
  ==============================================================*/
  #site-footer {
    background-color: var(--color-bg-footer);
  }

  .site-footer__nav-item__sns {
    padding: 55px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: 0 auto;
    column-gap: 20px;
  }

  .site-footer__nav-item__sns img {
    width: auto;
    height: 22px;
    opacity: 0.8;
  }

  /* コピー */
  .site-footer__copy {
    font-family: var(--font-serif);
    color: var(--color-text-white);
    background-color: var(--color-bg-copy);
    font-size: 10px;
    text-align: center;
    padding: 20px;
    letter-spacing: 0.18em;
    font-weight: 300;
  }


}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */

  .sp-nav,
  .sp-only {
    display: none;
  }

  .sp-none,
  .tb-nav {
    display: block;
  }

  /*==============================================================
    　　TB_ヘッダー
  ==============================================================*/
  .header {
    height: 60px;
  }

  /* ロゴ */
  .site-header__brand a {
    padding: 25px 30px 15px 30px;
  }

  .site-header__brand-img {
    height: 70px;
  }

  /* LINE */
  .header__line-link {
    right: 60px;
    width: 60px;
    height: 60px;
  }
  .header__line-link img {
    width: 24px;
    height: 24px;
  }

  /* ハンバーガー */
  .hamburger {
    width: 60px;
    height: 60px;
  }

  .hamburger span {
    width: 22px;
    margin-right: 3px;
  }

  .hamburger span::after {
    width: 16px;
    top: 7px;
  }

  .hamburger span::before {
    width: 28px;
    top: -7px;
  }

  .hamburger.active span::after {
    width: 24px;
    top: 10px;
    left: -16px;
  }

  .hamburger.active span::before {
    width: 24px;
    top: 10px;
    left: -16px;
  }

  /* メニューのデザイン*/
  /* ロゴ */
  .container__brand {
    padding: 30px 40px 40px;
  }
  .container__brand-img {
    height: 70px;
  }

  .site-nav--sp .nav-item {
    padding: 0 40px 40px;
  }

  .site-nav--sp .nav-title__en {
    font-size: 20px;
  }

  .site-nav--sp .nav-title__ja {
    margin-top: 2px;
    font-size: 11px;
  }

  .site-header__address {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .site-header__address__text {
    padding-left: 40px;
    font-size: 11px;
  }

  .site-header__address__tel {
    padding: 0 0 25px 40px;
    font-size: 17px;
    margin-top: 12px;
    column-gap: 6px;
  }

  .site-header__address__tel img {
    height: 18px;
  }

  /* sns */
  .site-header__sns-box {
    background-color: #69530B;
    padding: 14px 40px 16px;
  }

  .site-header__sns-box ul {
    gap: 20px;
  }

  .site-header__sns-box img {
    height: 20px;
  }

  /*==============================================================
    　　TB_セクション共通
  ==============================================================*/
  /* ボタン */
  .more-btn {
    font-size: 11.5px;
    padding-left: 24px;
  }

  .more-btn:before {
    width: 13px;
  }

  /* セクションタイトル */
  .section-title__en {
    font-size: 34px;
  }

  .section-title__ja {
    font-size: 12px;
  }

  /* 見出し・テキスト */
  .lead-title {
    font-size: 16px;
    padding-bottom: 16px;
  }

  .lead-text {
    font-size: 13px;
  }

  /*==============================================================
    　　TB_TOP以外__共通
  ==============================================================*/
  .top-other-header .site-header__brand a {
    padding: 8px 0 0 20px;
  }
  .top-other-header .site-header__brand-img {
    height: 52px;
  }

  /*==============================================================
    　　TB_ページトップ
  ==============================================================*/
  .page-top__image {
    margin-top: 60px;
    height: 340px;
  }

  .page-title {
    top: 182px;
    margin-left: 40px;
  }

  .page-title__en {
    font-size: 61px;
  }

  .page-title__ja {
    font-size: 17px;
  }

  /*==============　パンくずリスト　===============*/
  .breadcrumbs {
    font-size: 12px;
    top: -26px;
  }

  .breadcrumbs ol {
    padding: 16px 25px;
  }


  /*==============================================================
    　　TB_CONTACT
  ==============================================================*/
  .contact {
    padding-bottom: 90px;
  }

  .contact-inner {
    width: calc(100% - 80px);
    margin: 30px auto 0;
  }

  .contact-inner dl {
    padding: 45px 35px 45px;
  }

  .contact-title {
    font-size: 18px;
    margin-bottom: 22px;
  }

  .contact-item {
    max-width: 369px;
    margin: 0 auto;
  }

  .item-tel {
    padding: 20px 8px 22px 0;
  }

  .contact-item a {
    column-gap: 12px;
  }

  .item-tel svg {
    width: 26px !important;
    height: 27px !important;
    margin-top: 3px;
  }

  .contact-tel__time {
    font-size: 12px;
  }

  .contact-tel__num {
    font-size: 22px;
    margin-top: 8px;
  }

  .item-line a {
    font-size: 21.5px;
    padding: 25px 8px 25px 0;
  }

  .item-line img {
    height: 20px;
    margin-right: 14px;
  }


  /*==============================================================
    　　TB_フッター
  ==============================================================*/
  .site-footer__nav-item__sns {
    padding: 65px 0;
    column-gap: 22px;
  }

  .site-footer__nav-item__sns img {
    height: 24px;
  }

  /* コピー */
  .site-footer__copy {
    font-size: 11px;
    padding: 25px;
  }

}


@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /* .site-nav--sp {
    display: none;
  } */

  .sp-tb-none,
  .pc-only {
    display: block;
  }
  /*==============================================================
    　　PC_ヘッダー
  ==============================================================*/
  .header {
    height: 75px;
  }

  /* ロゴ */
  .site-header__brand a {
    padding: 30px 30px 23px 30px;
  }

  .site-header__brand-img {
    height: 80px;
  }

  /* 電話 */
  .site-header__tel-link {
    position: fixed;
    top: 22px;
    right: 150px;
    z-index: 90;
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-family: var(--font-serif);
    color: var(--color-text-sub);
    align-items: center;
  }

  .site-header__tel-link .tel__num {
    font-size: 19px;
    letter-spacing: 0.05em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    column-gap: 5px;
    padding: 0 20px;
    border-right: solid 1px var(--color-line-item);
  }
  .site-header__tel-link .tel__num svg {
    transform: rotate(20deg);
    margin-top: 2px;
  }

  .site-header__tel-link .tel__time {
    font-size: 14px;
    padding: 0 20px;
  }

  /* LINE */
  .header__line-link {
    right: 75px;
    width: 75px;
    height: 75px;
  }

  /* ハンバーガー */
  .hamburger {
    width: 75px;
    height: 75px;
  }

  .hamburger span {
    width: 24px;
    margin-right: 3px;
  }

  .hamburger span::after {
    width: 17px;
    top: 7px;
  }

  .hamburger span::before {
    width: 32px;
    top: -7px;
  }

  /* メニューのデザイン*/
  /* ロゴ */
  .container__brand {
    padding: 30px 40px 20px;
  }

  .site-nav--sp .nav-item {
    padding: 0 40px 26px;
  }

  .site-nav--sp .nav-title__en {
    font-size: 17px;
  }

  .site-nav--sp .nav-title__ja {
    font-size: 9px;
    margin-top: 0;
  }

  .site-header__address__text {
    font-size: 9px;
  }

  .site-header__address__tel {
    font-size: 15px;
  }

  .site-header__address__tel img {
    height: 17px;
  }

  /* sns */
  .site-header__sns-box {
    padding: 8px 40px 13px;
  }

  .site-header__sns-box ul {
    gap: 18px;
  }

  .site-header__sns-box img {
    height: 18px;
  }

  /*==============================================================
    　　PC_セクション共通
  ==============================================================*/
  /* ボタン */
  .more-btn {
    font-size: 15px;
    padding-left: 33px;
  }

  .more-btn:before {
    width: 17px;
  }

  /* セクションタイトル */
  .section-title__en {
    font-size: 45px;
  }

  .section-title__ja {
    font-size: 14px;
  }

  /* 見出し・テキスト */
  .lead-title {
    font-size: 27px;
    padding-bottom: 26px;
    line-height: 1.6;
  }

  .lead-text {
    font-size: 15px;
    line-height: 1.9;
  }

  /*==============================================================
    　　PC_TOP以外__共通
  ==============================================================*/
  .top-other-header .site-header__brand a {
    padding: 9px 0 0 25px;
  }
  .top-other-header .site-header__brand-img {
    height: 63px;
  }

  /*==============================================================
    　　PC_ページトップ
  ==============================================================*/
  .page-top__image {
    margin-top: 75px;
    height: 385px;
  }

  .page-title {
    top: 210px;
    margin-left: 150px;
  }

  .page-title__en {
    font-size: 80px;
    letter-spacing: 0.06em;
  }

  .page-title__ja {
    font-size: 20px;
  }

  /*==============　パンくずリスト　===============*/
  .breadcrumbs {
    top: -30px;
  }

  .breadcrumbs ol {
    padding: 20px 30px;
  }


  /*==============================================================
    　　PC_CONTACT
  ==============================================================*/
  .contact {
    padding-bottom: 145px;
  }

  .contact .section-title {
    top: -22px;
  }

  .contact-inner {
    width: calc(100% - 40px);
    max-width: 960px;
    margin: 65px auto 0;
  }

  .contact-inner ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-tel-box {
    border-bottom: none;
    border-right: 1px solid var(--color-line-item);
  }

  .contact-inner dl {
    padding: 50px 30px;
  }

  .contact-title {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 27px;
  }

  .item-tel {
    padding: 20px 14px 22px 0;
  }

  .contact-item a {
    column-gap: 20px;
  }

  .item-tel svg {
    width: 28px !important;
    height: 29px !important;
    margin-top: 3px;
  }

  .contact-tel__time {
    font-size: 14px;
  }

  .contact-tel__num {
    font-size: 24px;
    margin-top: 10px;
  }

  .item-line a {
    font-size: 24px;
    padding: 29px 14px 29px 0;
  }

  .item-line img {
    height: 24px;
    margin-right: 10px;
    margin-top: 1.9px;
  }



  /*==============================================================
    　　PC_フッター
  ==============================================================*/
  .site-footer__inner {
    /* padding: 80px 0 75px; */
    padding: 80px 0;
    width: calc(100% - 40px);
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 43% 57%;
  }

  .menu-inner__top {
    padding-bottom: 60px;
  }


  .site-footer__info {
    border-right: solid 1px var(--color-line-footer);
  }

  .site-footer__brand-img {
    width: auto;
    height: 80px;
  }

  .site-footer__address {
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.15em;
    line-height: 1.8;
    margin-top: 10px;
  }
  .site-footer__address .text {
    font-size: 13.5px;
  }

  .site-footer__nav {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 560px;
  }

  .site-footer__nav .nav-box-01,
  .site-footer__nav .nav-box-02 {
    grid-template-rows: repeat(4, 1fr);
  }

  .site-footer__nav-item {
    font-family: var(--font-base);
    font-weight: 300;
    display: inline-block;
    font-size: 15.5px;
    margin: 10px 0 10px 120px;
    letter-spacing: 0.15em;
    line-height: 2;
  }

  .site-footer__nav-item__sns {
    padding: 0;
    column-gap: 20px;
    width: fit-content;
    margin: 10px 0 10px 120px;
  }

  .site-footer__nav-item__sns img {
    height: 26px;
    padding-top: 3px;
  }

  /* コピー */
  .site-footer__copy {
    font-size: 12px;
    padding: 30px;
  }

}

@media screen and (min-width: 1400px) {
  /* PC全画面用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  .pc-big-only {
    display: block;
  }
  /*==============================================================
    　　PC-big_ヘッダー
  ==============================================================*/
  /* メニューのデザイン*/
  .hamburger.active {
    width: 100px;
    height: 100px;
  }

  .hamburger.active span::before {
    width: 40px;
    top: 0px;
    left: -6px;
  }

  .hamburger.active span::after {
    width: 40px;
    top: 0px;
    left: -6px;
  }

  /* ロゴ */
  .container__brand {
    padding-bottom: 0;
  }
  .container__brand-img {
    height: 80px;
  }

  .nav-menu-inner {
    display: flex;
    padding: 100px 0 0;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    /* column-gap: 60px; */
  }

  .nav-list-01,
  .nav-list-02 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-right: 60px;
  }

  .site-nav--sp .nav-item {
    padding: 0 0 30px;
  }

  .site-nav--sp .nav-title__en {
    font-size: 35px;
  }

  .site-nav--sp .nav-title__ja {
    margin-top: 2px;
    font-size: 14px;
  }

  /* アドレス */
  .site-header__address {
    position: relative;
    width: fit-content;
    padding: 0 0 0 40px;
  }

  .site-header__address__text {
    padding-left: 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.18em;
    line-height: 1.8;
    margin-top: -4px;
  }

  .site-header__address__tel {
    padding: 0;
    margin-top: 16px;
    font-size: 32px;
    letter-spacing: 0.07em;
  }

  .site-header__address__tel img {
    height: 38px;
  }

  /* sns */
  .site-header__sns-box {
    padding: 0;
    margin-top: 20px;
    width: fit-content;
    background-color: var(--color-bg-sub);
  }

  .site-header__sns-box ul {
    gap: 23px;
  }

  .site-header__sns-box img {
    height: 23px;
  }


  /*==============================================================
    　　PC-big_フッター
  ==============================================================*/
  /*======== アニメーション ========*/
  .site-footer__tel-link,
  .site-footer__nav-item span {
    transition: all 0.3s ease;
  }

  .site-footer__tel-link:hover,
  .site-footer__nav-item:hover span {
    opacity: 0.65;
  }
}

@media screen and (min-width: 1600px) {
  /* PC全画面用レイアウト 1600px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC-big_ヘッダー
  ==============================================================*/
  /* メニューのデザイン*/
  .nav-menu-inner {
    max-width: 1400px;
  }

  .nav-list-01, .nav-list-02 {
    margin-right: 150px;
  }
}