@charset "UTF-8";
/* CSS Document */

body {
  font-family: -apple-system, "Noto Sans JP", "Noto Serif JP", "Prata", sans-serif;
  font-feature-settings: 'palt' 1;
  color: var(--color-text-base);
  background-color: var(--color-bg-base);
  letter-spacing: 0.1em;
  line-height: 1.5;
}

body.is-menu-open {
  overflow: hidden;
  height: 100vh;
}

:root {
  /* 背景 */
  --color-bg-base: #fff;
  --color-bg-sub: #90720F;
  --color-bg-sub-rgb: 144, 114, 15;
  --color-bg-section: #ECE9E1;
  --color-bg-line: #3A3B3C;
  --color-bg-text: #FBF7E8;
  --color-bg-footer: #D7D1BE;
  --color-bg-copy: #333333;
  --color-bg-img: #D9D9D9;



  /* テキスト */
  --color-text-base: #000000;
  --color-text-sub: #90720F;
  --color-text-white: #fff;

  /* 線 */
  --color-line-item: #90720F;

  /* フォント */
  --font-base: "Noto Sans JP", sans-serif;
  --font-serif: "Noto Serif JP", serif;
  --font-en: "Prata", serif;
}

html {
  scroll-behavior: smooth; /* スムーススクロール */
  scroll-margin-top: 60px;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  .sp-none,
  .tb-nav,
  .pc-only,
  .sp-tb-none,
  .pc-big-only {
    display: none;
  }

  /*==============================================================
    　　ヘッダー
  ==============================================================*/
  .site-nav--sp {
    position: relative;
    z-index: 100;
  }

  .header {
    width: 100vw;
    height: 40px;
    background-color: var(--color-bg-base);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 90;
  }

  /* ロゴ */
  .site-header__brand a {
    display: inline-block;
    width: 100%;
    align-items: center;
    padding: 20px 20px 10px 20px;
    background-color: var(--color-bg-base);
  }

  .site-header__brand-img {
    width: auto;
    height: 50px;
  }

  /* LINE */
  .header__line-link {
    position: fixed;
    top: 0;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: var(--color-bg-line);
    z-index: 90;
    display: grid;
    place-content: center;
  }
  .header__line-link img {
    width: 18px;
    height: 18px;
    opacity: 0.8;
  }

  /* ハンバーガー */
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-color: var(--color-bg-sub);
    outline: none;
    padding: 0;
    appearance: none;
    cursor: pointer;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    transition: all .5s;
  }

  .hamburger span {
    display: block;
    width: 14px;
    height: 1px;
    background: var(--color-bg-section);
    position: relative;
    opacity: 1;
    /* transition: all 0.1s; */
  }

  .hamburger span::after {
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    background: var(--color-bg-section);
    position: absolute;
    top: 5px;
    left: 0;
    transition: .3s;
  }

  .hamburger span::before {
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    background: var(--color-bg-section);
    position: absolute;
    top: -5px;
    left: 0;
    transition: .3s;
  }

  .hamburger.active span::after {
    width: 20px;
    height: 1px;
    top: 0;
    left: -2px;
    transform: rotate(45deg);
  }

  .hamburger.active span {
    background-color: var(--color-line-item);
  }

  .hamburger.active span::before {
    width: 20px;
    height: 1px;
    top: 0;
    left: -2px;
    transform: rotate(-45deg);
  }

  .hamburger.active {
    width: 50px;
    height: 50px;
  }

  /* メニューのデザイン*/
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88;
    background-color: var(--color-bg-sub);
    /* transition: .5s; */
    /* opacity: 0; */
    overflow: hidden;
    overflow-y: scroll;
    pointer-events: none;
    padding-bottom: env(safe-area-inset-bottom);
    /* visibility: hidden; */
    z-index: 98;
    transform: translateX(101%);
    transition: transform cubic-bezier(0.27, 0.22, 0, 1) 0.6s;
  }

  .container.active{
    /* opacity: 1; */
    pointer-events: auto;
    /* visibility: visible; */
    transform: translateX(0%);
  }

  /* ロゴ */
  .container__brand {
    padding: 20px;
    margin-bottom: -4px;
  }
  .container__brand-img {
    width: auto;
    height: 50px;
  }

  .site-nav--sp .nav-item {
    padding: 0 20px 26px;
    line-height: 1.2;
  }

  .site-nav--sp .nav-list a {
    display: inline-block;
    display: grid;
    grid-template-rows: auto auto;
    color: var(--color-text-white);
    opacity: 0.8;
  }

  .site-nav--sp .nav-title__en {
    font-family: var(--font-en);
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 0.12em;
  }

  .site-nav--sp .nav-title__ja {
    font-family: var(--font-serif);
    font-size: 9px;
  }

  .site-header__address {
    padding-top: 100px;
  }

  .site-header__address__text {
    font-family: var(--font-base);
    padding-left: 20px;
    font-size: 9px;
    color: var(--color-text-white);
    opacity: 0.8;
  }

  .site-header__address__tel {
    display: inline-block;
    font-family: var(--font-en);
    color: var(--color-text-white);
    font-size: 15px;
    line-height: 1.5;
    padding: 0 0 20px 20px;
    margin-top: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    column-gap: 4px;
    opacity: 0.8;
  }

  .site-header__address__tel img {
    width: auto;
    height: 16px;
  }

  /* sns */
  .site-header__sns-box {
    background-color: #69530B;
    padding: 6px 20px 10px;
  }

  .site-header__sns-box ul {
    display: flex;
    gap: 16px;
  }

  .site-header__sns-box a {
    display: inline-block;
    max-height: 19px;
    width: fit-content;
    opacity: 0.8;
  }

  .site-header__sns-box img {
    width: auto;
    height: 17px;
    margin-top: -4px;
  }

  /*==============================================================
    　　セクション共通
  ==============================================================*/
  .main-inner {
    overflow: hidden;
  }


  /*==============================================================
    　　TOP以外__共通
  ==============================================================*/
  

  /*==============================================================
    　　ページトップ
  ==============================================================*/
  


  /*==============　パンくずリスト　===============*/
  .breadcrumbs {
    /* color: var(--color-text-sub); */
    font-size: 12px;
    /* margin-left: 36px; */
    margin-left: 5px;
    margin-bottom: 70px;
    font-weight: 550;
  }

  .breadcrumbs ol {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto 20px;
    flex-wrap: wrap;
    padding: 10px 16px;
    line-height: 1.46;
  }

  .breadcrumbs .item {
    margin-right: 10px;
  }

  .breadcrumbs .item span:before {
    content: "＞";
    display: inline-block;
    margin: 0 8px 0 4px;
    color: var(--color-line-item);
  }

  .breadcrumb a {
    transition: .3s;
  }

  /*==============================================================
    　　フッター
  ==============================================================*/
  #site-footer {
    background-color: var(--color-bg-footer);
  }

  .site-footer__nav-item__sns {
    padding: 55px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: 0 auto;
    column-gap: 20px;
  }

  .site-footer__nav-item__sns img {
    width: auto;
    height: 22px;
    opacity: 0.8;
  }

  /* コピー */
  .site-footer__copy {
    font-family: var(--font-serif);
    color: var(--color-text-white);
    background-color: var(--color-bg-copy);
    font-size: 10px;
    text-align: center;
    padding: 20px;
    letter-spacing: 0.18em;
    font-weight: 300;
  }


}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */

  .sp-nav,
  .sp-only {
    display: none;
  }

  .sp-none,
  .tb-nav {
    display: block;
  }

  /*==============================================================
    　　TB_ヘッダー
  ==============================================================*/
  .header {
    height: 60px;
  }

  /* ロゴ */
  .site-header__brand a {
    padding: 25px 30px 15px 30px;
  }

  .site-header__brand-img {
    height: 70px;
  }

  /* LINE */
  .header__line-link {
    right: 60px;
    width: 60px;
    height: 60px;
  }
  .header__line-link img {
    width: 24px;
    height: 24px;
  }

  /* ハンバーガー */
  .hamburger {
    width: 60px;
    height: 60px;
  }

  .hamburger span {
    width: 22px;
    margin-right: 3px;
  }

  .hamburger span::after {
    width: 16px;
    top: 7px;
  }

  .hamburger span::before {
    width: 28px;
    top: -7px;
  }

  .hamburger.active span::after {
    width: 24px;
    top: 10px;
    left: -16px;
  }

  .hamburger.active span::before {
    width: 24px;
    top: 10px;
    left: -16px;
  }

  /* メニューのデザイン*/
  .site-nav--sp .nav-title__en {
    font-size: 20px;
  }

  .site-nav--sp .nav-title__ja {
    font-size: 11px;
  }
  /* ロゴ */
  .container__brand {
    padding: 30px 40px 40px;
  }
  .container__brand-img {
    height: 70px;
  }

  .site-nav--sp .nav-item {
    padding: 0 40px 40px;
  }

  .site-nav--sp .nav-title__ja {
    margin-top: 2px;
  }

  .site-header__address {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .site-header__address__text {
    padding-left: 40px;
    font-size: 11px;
  }

  .site-header__address__tel {
    padding: 0 0 25px 40px;
    font-size: 17px;
    margin-top: 12px;
    column-gap: 6px;
  }

  .site-header__address__tel img {
    height: 18px;
  }

  /* sns */
  .site-header__sns-box {
    background-color: #69530B;
    padding: 14px 40px 16px;
  }

  .site-header__sns-box ul {
    gap: 20px;
  }

  .site-header__sns-box img {
    height: 20px;
  }


  /*==============================================================
    　　TB_フッター
  ==============================================================*/
  .site-footer__nav-item__sns {
    padding: 65px 0;
    column-gap: 22px;
  }

  .site-footer__nav-item__sns img {
    height: 24px;
  }

  /* コピー */
  .site-footer__copy {
    font-size: 11px;
    padding: 25px;
  }

}


@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /* .site-nav--sp {
    display: none;
  } */

  .sp-tb-none,
  .pc-only {
    display: block;
  }
  /*==============================================================
    　　PC_ヘッダー
  ==============================================================*/
  .header {
    height: 75px;
  }

  /* ロゴ */
  .site-header__brand a {
    padding: 30px 30px 23px 30px;
  }

  .site-header__brand-img {
    height: 75px;
  }

  /* 電話 */
  .site-header__tel-link {
    position: fixed;
    top: 24px;
    right: 150px;
    z-index: 90;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  /* LINE */
  .header__line-link {
    right: 75px;
    width: 75px;
    height: 75px;
  }

  /* ハンバーガー */
  .hamburger {
    width: 75px;
    height: 75px;
  }

  .hamburger span {
    width: 22px;
    margin-right: 3px;
  }

  .hamburger span::after {
    width: 15px;
    top: 7px;
  }

  .hamburger span::before {
    width: 30px;
    top: -7px;
  }


}

@media screen and (min-width: 1400px) {
  /* PC全画面用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  .pc-big-only {
    display: block;
  }
  /*==============================================================
    　　PC-big_ヘッダー
  ==============================================================*/
  

  /*==============================================================
    　　PC-big_フッター
  ==============================================================*/
  /*======== アニメーション ========*/
  .site-footer__tel-link,
  .site-footer__nav-item span {
    transition: all 0.3s ease;
  }

  .site-footer__tel-link:hover,
  .site-footer__nav-item:hover span {
    opacity: 0.65;
  }
}