@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  #strengths,
  #availability,
  #review {
    scroll-margin-top: 70px;
  }

  /*==============================================================
    　　ヒーロー
  ==============================================================*/
  .hero__image {
    width: 100%;
    height: 568px;
    overflow: hidden;
    padding: 40px 40px 50px;
  }

  .hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 45% 50%;
  }


  /*==============================================================
    　　NEWS
  ==============================================================*/
  .news {
    height: 129px;
    background-color: var(--color-bg-section);
  }

  .news-inner {
    background-color: var(--color-bg-base);
    transform: translateY(20px);
    margin: 0 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
  }

  .news-title {
    background-color: #666666;
    color: var(--color-text-white);
    margin-right: 10px;
    text-align: center;
    font-size: 10px;
    height: 20px;
    display: grid;
    place-content: center;
  }

  .news-item__date {
    font-size: 10px;
    color: var(--color-text-sub);
    font-weight: 500;
  }

  .news-item__title {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 1.9;
  }

  .news-link {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .news .more-btn {
    grid-column: 1 / 3;
    grid-row: 3;
    margin-top: 16px;
  }


  /*==============================================================
    　　セクション共通
  ==============================================================*/
  /* ボタン */
  .more-btn {
    display: inline-block;
    font-family: var(--font-en);
    font-size: 11px;
    line-height: 1.9;
    align-items: center;
    position: relative;
    padding-left: 23px;
  }

  .more-btn:before {
    width: 12px;
    border-top: 1px solid var(--color-line-item);
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  /* セクションタイトル */
  .section-title {
    text-align: center;
  }

  .section-title__en {
    font-family: var(--font-en);
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }

  .section-title__ja {
    font-family: var(--font-serif);
    font-size: 10px;
    margin-top: 4px;
  }

  /* 見出し・テキスト */
  .lead-title {
    font-family: var(--font-serif);
    color: var(--color-text-sub);
    font-size: 14px;
    padding-bottom: 15px;
    line-height: 1.8;
    letter-spacing: 0.2em;
  }

  .lead-text {
    font-family: var(--font-base);
    font-size: 12.5px;
    line-height: 2.1;
    font-weight: 300;
    letter-spacing: 0.2em;
  }

  /*==============================================================
    　　ABOUT
  ==============================================================*/
  .about {
    position: relative;
    padding: 75px 0 115px;
    margin-bottom: -40px;
  }

  .about::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/section/section-about.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.16;
    z-index: -1;
  }

  .about-inner {
    margin: 0 20px;
  }

  .about .lead-title {
    margin-top: 20px;
  }

  .about .lead-text {
    padding-bottom: 20px;
  }

  /* 画像 */
  .about-image {
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    position: relative;
    margin-top: 35px;
    aspect-ratio: 335 / 201;
  }

  .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-image:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border: 1px solid var(--color-line-item);
    content: "";
    transform: translate(-5px, -5px);
    z-index: -1;
  }

  /*==============================================================
    　　MENU
  ==============================================================*/
  .menu {
    padding-bottom: 80px;
  }

  .menu-inner__top {
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 30px 0 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .menu-lead {
    position: relative;
    width: 100%;
    margin: 0 5px 0 20px;
    padding: 25px 15px;
    /* background-color: var(--color-bg-base); */
    z-index: 1;
  }

  .menu-lead > * {
    position: relative;
    z-index: 2; /* ← 文字を最前面に */
  }

  .menu-lead::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-bg-base); /* ← 本体の背景 */
    z-index: 0;
  }

  .menu-lead::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-bg-text);
    transform: translate(5px, -5px);
    z-index: -1;
  }

  /* .menu-lead:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: var(--color-bg-text);
    content: "";
    transform: translate(5px, -5px);
    z-index: -1;
  } */

  /* 画像 */
  .menu-image {
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    position: relative;
    margin: -30px 40px 0 0;
    aspect-ratio: 335 / 201;
  }

  .menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 34%;
  }

  .menu-image:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border: 1px solid var(--color-line-item);
    content: "";
    transform: translate(5px, 5px);
    z-index: -1;
  }

  /*==============　スライド　===============*/
  .menu-swiper {
    margin-left: 20px;
    margin-top: 20px;
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    position: relative;
  }

  .menu-slide__image {
    position: relative;
    width: auto;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    margin-bottom: 16px;
    background-color: var(--color-bg-img);
  }

  .menu-slide__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* .menu-label {
    position: absolute;
    top: -20px;
    right: 0;
    width: 48px;
    height: 42px;
    font-size: 23px;
    background-color: var(--color-bg-base);
  } */

  .menu-label {
    font-family: var(--font-en);
    position: absolute;
    top: -20px;
    right: -2px;
    width: 48px;
    height: 42px;
    font-size: 23px;
    background-color: var(--color-bg-base);
    z-index: 2;
    display: grid;
    place-content: center;
    padding-top: 4px;
  }

  .menu-slide__title {
    font-family: var(--font-serif);
    color: var(--color-text-sub);
    font-size: 14px;
    padding-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.2em;
  }

  .menu-slide__text {
    padding-top: 15px;
    font-family: var(--font-base);
    font-size: 12.5px;
    line-height: 2.1;
    font-weight: 300;
    letter-spacing: 0.2em;
  }

  .menu .more-btn {
    width: fit-content;
    margin: 22px 20px 0 auto;
    text-align: right;
    display: flex;
  }

  .menu .more-btn a {
    width: fit-content;
    display: inline-block;
    text-align: right;
  }

  /*==============================================================
    　　BEFORE/AFTER
  ==============================================================*/
  .before-after {
    background-image: url(../img/section/section-brfore-after-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 70px;
    position: relative;
  }

  .before-after:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 134px;
    background: #fff;
    content: "";
}

  .before-after .section-title {
    position: relative;
    top: -15px;
  }

  .before-after-swiper {
    margin-top: 8px;
    margin: 8px 20px 0;
  }

  .before-after .swiper-slide {
    background-color: var(--color-bg-base);
  }

  .before-after-slide__image {
    width: 190px;
    height: 190px;
    border: solid 1px var(--color-text-base);
    margin: 0 auto;
    background-color: var(--color-bg-img);
  }

  .before-after-slide__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* 矢印共通 */
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }

  /* 右矢印 */
  .swiper-button-next img {
    width: 36px;
    height: 36px;
    margin-bottom: 0px;
    margin-right: -40px;
  }

  /* 左矢印 */
  .swiper-button-prev img {
    width: 36px;
    height: 36px;
    transform: scale(-1, 1);
    margin-bottom: 0px;
    margin-left: -40px;
    transform: rotate(180deg);
  }


  /*==============================================================
    　　FLOW
  ==============================================================*/
  .flow {
    background-color: rgba(var(--color-bg-sub-rgb), 0.02);
    margin-bottom: 70px;
  }

  .flow .section-title {
    position: relative;
    top: -15px;
  }

  .flow-inner {
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 30px 0 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .flow-lead {
    position: relative;
    width: 100%;
    margin: 0 20px 0 5px;
    padding: 25px 15px;
    /* background-color: var(--color-bg-base); */
    z-index: 1;
  }

  .flow-lead > * {
    position: relative;
    z-index: 2; /* ← 文字を最前面に */
  }

  .flow-lead::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-bg-base); /* ← 本体の背景 */
    z-index: 0;
  }

  .flow-lead::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-bg-text);
    transform: translate(-5px, -5px);
    z-index: -1;
  }

  .flow .more-btn {
    margin-top: 20px;
  }

  /* 画像 */
  .flow-image {
    width: 100%;
    height: auto;
    position: relative;
    margin: -30px 0 0 40px;
    aspect-ratio: 335 / 201;
    /* overflow: hidden; */
  }

  .flow-image img {
    width: 124%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
  }

  .flow-image:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border: 1px solid var(--color-line-item);
    content: "";
    transform: translate(-5px, 5px);
    z-index: -1;
  }


  /*==============================================================
    　　CONTACT
  ==============================================================*/
  .contact {
    padding-bottom: 70px;
    position: relative;
  }

  .contact::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/section/section-contact-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
  }

  .contact .section-title {
    position: relative;
    top: -15px;
  }

  .contact-inner {
    background-color: var(--color-bg-base);
    width: calc(100% - 40px);
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
  }

  .contact-inner ul {
    display: grid;
    grid-template-rows: auto auto;
    border: 1px solid var(--color-line-item);
  }

  .contact-inner dl {
    padding: 35px 25px 30px;
  }

  .contact-tel-box {
    border-bottom: 1px solid var(--color-line-item);
  }

  .contact-title {
    font-family: var(--font-serif);
    color: var(--color-text-sub);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.2;
    text-align: center;
  }

  .item-tel {
    border: 1px solid var(--color-line-item);
    padding: 10px 5px 12px 0;
    font-family: var(--font-serif);
    color: var(--color-text-sub);
  }

  .contact-item a {
    display: inline-block;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  .item-tel svg {
    width: 23px !important;
    height: 24px !important;
    transform: rotate(20deg);
    margin-top: 2px;
  }

  .contact-tel__time {
    /* display: inline-block; */
    font-size: 9px;
    line-height: 1;
  }

  .contact-tel__num {
    /* display: inline-block; */
    font-size: 15px;
    margin-top: 8px;
    line-height: 1;
  }

  .item-line a {
    font-family: var(--font-serif);
    color: var(--color-text-white);
    font-size: 14px;
    background-color: var(--color-bg-sub);
    padding: 20px 5px 20px 0;
  }

  .item-line img {
    width: auto;
    height: 20px;
    margin-right: 8px;
  }







}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
  .sp-only {
    display: none;
  }

  #strengths,
  #availability,
  #review {
    scroll-margin-top: 40px;
  }
  /*==============================================================
    　　TB_ヒーロー
  ==============================================================*/
  

}


@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_ヒーロー
  ==============================================================*/




}

@media screen and (min-width: 1400px) {
  /* PC全画面用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC-big_ヒーロー
  ==============================================================*/
  .hero__image {
    height: 100vh;
    margin-left: 80px;
    border-radius: 300px 0 0 0;
  }

  .hero-swiper {
    padding-bottom: 60px;
    margin-bottom: 40px;
  }

  /* ドット */
  .hero-swiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 18px !important;
  }




}