@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　メニュー
  ==============================================================*/
  /* ページトップ画像 */
  .page-top__image img {
    object-position: 0% 50%;
  }

  .menu {
    position: relative;
    padding: 0 20px 60px;
    margin-top: 50px;
    margin-bottom: 80px;
  }

  .menu::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/section/section-menu.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.16;
    z-index: -1;
  }

  .menu .section-title {
    position: relative;
    top: -15px;
  }

  .menu-inner {
    max-width: 1300px;
    margin: 8px auto 0;
  }

  .menu-block {
    width: 100%;
    padding-bottom: 25px;
    background-color: var(--color-bg-base);
    border-top: 4px solid var(--color-line-item);
  }

  /* カテゴリ */
  .menu-category{
    border-bottom: 1px dotted rgb(192, 183, 154);
    margin-bottom: 5px;
  }

  .menu-category__title {
    text-align: center;
    font-family: var(--font-en);
    color: var(--color-bg-sub);
    font-size: 19px;
    font-weight: 400;
    padding: 15px 0px;
    letter-spacing: 0.18em;
    line-height: 2;
  }

  /* 各メニュー */
  .menu-category__item {
    font-family: var(--font-base);
    border-top: 1px dotted rgb(192, 183, 154);
    padding: 15px;
    letter-spacing: 0.18em;
    line-height: 2;
  }

  .menu-category__item-title {
    font-size: 16px;
    font-weight: 500;
  }

  .menu-category__item-text {
    display: inline-block;
    font-size: 12.5px;
    font-weight: 300;
  }

  .price {
    font-size: 15px;
    letter-spacing: 0.18em;
    line-height: 2;
    text-align: right;
    margin-top: 5px;
    font-weight: 350;
  }

  .menu-notes {
    font-family: var(--font-base);
    padding: 15px;
    font-size: 12px;
    letter-spacing: 0.18em;
    line-height: 2;
    font-weight: 300;
  }


}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　TB_メニュー
  ==============================================================*/
  /* ページトップ画像 */
  .page-top__image img {
    object-position: 0% 35%;
  }

  .menu {
    padding: 0 40px 80px;
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .menu-inner {
    margin: 40px auto 0;
  }

  .menu-block {
    padding: 20px 40px 60px;
  }

  /* カテゴリ */
  .menu-category{
    border-bottom: 1px dotted rgb(192, 183, 154);
    margin-bottom: 10px;
  }

  .menu-category__title {
    text-align: left;
    font-size: 26px;
    padding: 20px 0px;
  }

  /* 各メニュー */
  .menu-category__item {
    padding: 24px 0;
  }

  .menu-category__item-title {
    font-size: 18px;
    line-height: 1.8;
  }

  .menu-category__item-text {
    font-size: 13px;
    margin-top: -20px;
    line-height: 2;
  }

  .price {
    font-size: 17px;
    margin-top: 15px;
  }

  .menu-notes {
    padding: 0;
  }


}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_メニュー
  ==============================================================*/
  .menu {
    margin-top: 100px;
    padding: 0 40px 115px;
    margin-bottom: 115px;
  }

  .menu-block {
    padding: 40px 70px 100px;
  }

  /* カテゴリ */
  .menu-category__title {
    font-size: 28px;
  }

  /* 各メニュー */
  .menu-category__item {
    display: grid;
    grid-template-columns: 1fr 320px;
    padding: 22px 0 26px;
    align-items: center;
  }

  .menu-category__item-title {
    padding-right: 30px;
  }

  .price {
    margin-top: 2px;
  }

  .menu-notes {
    line-height: 2.2;
  }


}

@media screen and (min-width: 1400px) {
  /* PC全画面用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC-big_メニュー
  ==============================================================*/
  


}