@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　ニュース一覧
  ==============================================================*/
  .news-all {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 0 75px;
  }

  .news-all__title {
    font-family: var(--font-en);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-line-item);
    font-family: 'Prata', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: var(--color-text-sub);
  }

  .news-item {
    padding: 0 0 15px 15px;
    font-family: var(--font-base);
  }

  .news-item__date {
    display: flex;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
  }

  .news-item__title {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 350;
    letter-spacing: 0.2em;
  }

  /*==============================================================
    　　ニュース詳細
  ==============================================================*/
  .news-detail {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 0 75px;
  }

  .news-detail__inner {
    padding: 25px 15px;
    background-color: #f6f6f6;
    font-family: var(--font-base);
    margin-bottom: 15px;
  }

  .news-detail__date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
  }

  .news-detail__title {
    font-size: 15px;
    font-weight: 350;
    letter-spacing: 0.2em;
    margin: 10px 0 25px;
    padding: 0 0 15px;
    border-bottom: 1px solid #babbbb;
  }

  .news-detail__text-box {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  .news-detail__text-box p {
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0.2em;
    font-weight: 320;
  }

  .news-btn {
    display: flex;
    justify-content: center;
    font-family: var(--font-en);
    font-size: 11px;
    line-height: 1.9;
    align-items: center;
    position: relative;
    width: fit-content;
    margin: 40px auto 0;
    text-align: center;
    border: solid 1px var(--color-line-footer);
  }

  .news-btn a {
    padding: 14px 10px 10px;
    width: 160px;
  }






}